.elements-grid {
    display: grid;
    margin: 51px auto 66px;
    padding: 0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    max-width: 880px;
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 1023px) {
    .elements-grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        max-width: 581px;
    }  
}

@media screen and (max-width: 767px) {
    .elements-grid {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        max-width: 282px;
        margin: 36px auto 48px;
        gap: 20px;
    }  
}