.header__logo {
    width: 142px;
    height: 33px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 auto 41px 0;
    padding: 0;
}

.header__logo:hover {
    opacity: 0.6;
    transition: opacity, .3s;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin: 0 auto 32px 27px;
        padding: 0;
    }  
}