.profile__info {
    max-width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 24px;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        max-width: 230px;
    }  
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 22px auto 34px;
        max-width: 282px;
        align-items: center;
    }  
}