.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 36px 36px 50px;
    text-align: left;
    max-width: 358px;
    padding: 0;
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
        margin: 27px 22px 77px;
    }  
}
