.profile__paragraph-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 300px;
    margin: 12px 0 0 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__paragraph-text {
        max-width: 230px;
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 10px;
    }  
}