.popup__container-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 430px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 60px 36px;
}

@media screen and (max-width: 767px) {
    .popup__container-confirm {
      width: 282px;
      padding: 25px 22px;
    }
  }