.header {
    display: flex;
    align-items: flex-start;
    min-width: 880px;
    margin: 45px auto 0;
    padding: 0;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
    .header {
        min-width: 581px;
    }  
}

@media screen and (max-width: 767px) {
    .header {
        min-width: 320px;
        margin-top: 28px;
    }  
}